
.section-title {
    font-size: 24px; 
    color: #000000; 
    margin-bottom: 20px; 
  }
  
  .contact-info {
    font-weight: bold; 
  }
  

  .contact-container {
    background-color: #f76e33; 
    padding: 20px; 
  }
  
  .contact-container p {
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #000000; 
    line-height: 1.6; 
  }
  